.container-fluid {
  width:100%;
  margin: 0 auto;
  padding: 0px;
}

.container {
  width:50%;
}

.navbar {
  height: 50px;
  background-color: rgba(187,229,250,0.2);
  width:100%;
  margin:0px;
  position: fixed;
  z-index: 999;
}


.anchor {
  color: rgb(48,151,222);
  margin-top:5px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.logo-col img {
  width: 25px;
  margin-top: 10px;
}

.logo-col {
  padding: 0px
}

#banner {
  position: relative;
  display: flex;
  padding-top:90px;
  padding-bottom: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  left:0;
  color:white;
}

#banner .title {
  width: 50%;
}


.landing-background {
  background-image: url('./images/BackgroundimageVinitative3.png');
  clip: rect(0, 200px, 200px, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.title {
  margin-left: 30px;
}

.title h1 {
  font-size: 46px;
  font-weight: 300;
}

.title h3 {
  font-size:18px;
  font-weight: 500;
}

.title button {
  font-size: 10px;
}

.navbar h5 {
  text-align: center;
}

.title {
  width:70%;
}

.title h3 {
  margin-top:0px;
}

.title button {
  color: #3097de;
}

.what {
  background-color: #f3f9fc;
  color:#8b9ea9;
}

.section {
  margin-top:25px;
  margin-bottom: 25px;
}

.icon-point img {
  width:70px;
  margin:auto;
  display:block;
}

.icon-point {
  align-items: center;
}

.icon-point h4{
  text-align: center;
  font-weight: 500  !important;
  font-size: 10px  !important;
}

.icon-point p {
  text-align: center;
  font-size: 8px !important;
}

.bottom-row {
  margin-top: 50px;
}

.section h3 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 18px;
  font-weight: 600;
}

.section h4 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}

.section p {
  font-size:12px;
  font-weight: 300;
}

.icon-points {
  margin-top:60px;
}

.why {
  background-color: #637486;
  color: #8b9ea9;
}
.why img {
  width:80%;
}
.description-right {
  margin-top:60px;
}

.how {
  background-color: #ccdbe3;
  color: #8b9ea9;
}
.maze img {
  width:90%;
}

.maze {
  text-align: center;
  margin-top: 2%;
}

.merkle {
  background-color: #d4e4ec;
  color: #9fafb9;
}

.merkle img {
  width:85%;
}

.zk {
  background-color: #ccdbe3;
  color: #9fafb9;
}

.zk img {
  width:80%;
  margin-top: 18%;
}

.zk-maze {
  text-align: center;
}

.ip {
  background-color: #d4e4ec;
  color: #9fafb9;
}

.ip img {
  width: 90%;
}

.who {
  color: #8b9eaa;
}

.who img {
  width: 55%;
  margin-top: 15%;
}

.heart {
  text-align: center;
}

.help {
  background-color: #fafbfc;
  color: #8b9ea9;
}

form {
  width: 80%;
  margin:auto;
  margin-top: 15%;
  margin-bottom: 7%;
}

.submit {
  border: 1px solid orange;
  color: #adadad;
  font-size:10px;
}

input#email {
  border: none;
  font-size: 8px;
  background-color: #e8f1f6;
  color: #5f7988 !important;
}

input#organisation {
  border: none;
  font-size: 8px;
  background-color: #e8f1f6;
  color: #5f7988 !important;
}

input#name {
  border: none;
  font-size: 8px;
  background-color: #e8f1f6;
  color: #5f7988 !important;
}

.form-group {
  margin: 0px
}

.email {
  margin-bottom: 10px;
}

.submit {
  width:100%;
}

.spread {
  background-color: #637486;
  text-align: center;
  color: #8b9ea9;
}

.spread h4 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
}

.contact {
  background-color: #d4e4ec;
  color: #5f7988;
  text-align: left;
}

.contact div.container {
  margin-left: 25%;
}

.contact form {
  margin: 0px;
}

.footer-background {
  background-image: url('./images/Header_Image.png');
  clip: rect(0, 100px, 100px, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer button{
  color: #3097de;
}

.footer h4 {
  font-size: 30px;
  line-height: 0.7;
}

.footer-buttons {
  text-align: right;
  padding-top: 60px;
}

@media only screen and (max-width: 1420px) {
  .landing-background {
    background-image: url('./images/Header_Image.png');
    clip: rect(0, 200px, 200px, 0);
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width:80%;
  }

  .section {
    text-align: center;
  }

  .footer {
    padding: 0px !important;
  }

  .footer h4 {
    font-size:20px;
  }

  .contact div.container {
    margin: 0px;
    text-align: center;
    margin:auto;
  }

  .newsletter form {
    margin:auto;
  }
}

@media only screen and (max-width: 420px) {
   .anchor {
    display:none;
  }
}
